#header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: #333333;
    transition: all ease 1s;
    z-index: 10;
}
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

.logoImg {
    color: #D6D6D6;
    font-size: 20px;
    transition: all ease 0.3s;
    cursor: pointer;
}
.logoImg:hover {
    color: white;
}